# .env.example

# --- Configuración General ---
NODE_ENV=development
PORT=3500

# --- Base de Datos Externa (Supabase) ---
DATABASE_URL=postgresql://postgres.vszodzqbghkkiftsphmp:sudaDBGRATIS123@aws-0-us-east-2.pooler.supabase.com:5432/postgres

# --- RabbitMQ Event Bus ---
RABBITMQ_URL=amqp://rabbitmq:5672

# --- JWT Secrets (deben ser los mismos en auth-service y api-gateway) ---
JWT_SECRET="Ua5+XDbhGIB+FkFO70fPPu0cjPQ1UP5Iqcb4+z0qhYqkIuTs1p1uHWkv+oTDztsDwEanMkwa2WZhNYxgD7TwUA=="
TOKEN_EXPIRES_IN=1h

# --- Email Service (para communication-service) ---
EMAIL_USER=
EMAIL_PASS=

# --- API Keys Externas ---
MISTRAL_API_KEY=YX8ThFHeeeA8jlNOIFIL3RdctBzhWKYr

# --- URLs de Servicios (para comunicación interna en Docker) ---
# Nota: Los puertos son los internos de Docker, no los que expones al exterior.
AUTH_SERVICE_URL=http://auth-service:3001
CATALOG_SERVICE_URL=http://catalog-service:3002
AUCTION_SERVICE_URL=http://auction-service:3003
COMMUNICATION_SERVICE_URL=http://communication-service:3004